asgiref==3.7.2
backports.zoneinfo==0.2.1
Django==4.2.10
django-adminlte3==0.1.6
django-seed==0.3.1
Faker==23.1.0
pillow==10.2.0
psycopg2-binary==2.9.9
python-dateutil==2.8.2
python-dotenv==1.0.1
six==1.16.0
sqlparse==0.4.4
toposort==1.10
typing_extensions==4.9.0
