{% extends 'base.html' %}
{% block head_title %}Log In{% endblock %}

{% block blank_body %}

<div class="login-box">
    <!-- /.login-logo -->
    <div class="card card-outline card-primary">
      <div class="card-header text-center">
        {% comment %} <a href="../../index2.html" class="h1"><b>Assest</b>Tracker</a> {% endcomment %}
        <span class="h1"><b>Asset</b>Tracker</span>
      </div>
      <div class="card-body">
        <p class="login-box-msg">Sign in to start your session</p>

        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="{{ message.tags }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
  
        <form method="post">
        {% csrf_token %}
          <div class="input-group mb-3">
            <input type="email" class="form-control {% if form.email.errors %}is-invalid{% endif %}" placeholder="Email" name="email" value='{{ form.email.value|default:"" }}'>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
            {% if form.email.errors %}
            <div class="invalid-feedback">{{ form.email.errors }}</div>
            {% endif %}
          </div>

          <div class="input-group mb-3">
            <input type="password" class="form-control {% if form.password.errors %}is-invalid{% endif %}" placeholder="Password" name="password" value='{{ form.password.value|default:"" }}'>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
            {% if form.password.errors %}
            <div class="invalid-feedback">{{ form.password.errors }}</div>
            {% endif %}
          </div>

          <div class="row">
            <div class="col-8">
              <div class="icheck-primary">
                <input type="checkbox" id="remember" name="remember_me" value='{{ form.remember_me.value }}'>
                <label for="remember">
                  Remember Me
                </label>
              </div>
            </div>
            <!-- /.col -->
            <div class="col-4">
              <button type="submit" class="btn btn-primary btn-block">Sign In</button>
            </div>
            <!-- /.col -->
          </div>
        </form>

        {% comment %} <p class="mb-0">
          <a href="{% url 'authentication:signup' %}" class="text-center">Register a new membership</a>
        </p> {% endcomment %}
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
{% endblock %}
